In [2]:
## Exercise - 1

import numpy as np
import pandas as pd

df_movie = pd.read_csv('./data/movie/movies.csv')
df_rating = pd.read_csv('./data/movie/ratings.csv')

print(df_movie.shape)  # (9742, 3)  영화정보
print(df_rating.shape)  # (100836, 4)  평점정보

(9742, 3)
(100836, 4)

In [93]:
# 1. 사용자가 평가한 모든 영화의 전체 평균 평점
# display(df_rating.head())

# rating안의 결측치 포함여부 확인
# print(df_rating['rating'].isnull().sum())  # 0 => 결측치 없음

print(df_rating['rating'].mean())

3.501556983616962

In [14]:
# 2. 각 사용자별 평균 평점

print(df_rating['rating'].groupby(df_rating['userId']).mean())

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

In [27]:
# 3. 각 영화별 평균 평점

s1 = df_rating['rating'].groupby(df_rating['movieId']).mean()

result = pd.merge(s1, df_movie, left_index=True, right_on='movieId', how='inner')

display(result[['movieId', 'title', 'rating']])

      movieId                                      title    rating
0           1                           Toy Story (1995)  3.920930
1           2                             Jumanji (1995)  3.431818
2           3                    Grumpier Old Men (1995)  3.259615
3           4                   Waiting to Exhale (1995)  2.357143
4           5         Father of the Bride Part II (1995)  3.071429
...       ...                                        ...       ...
9737   193581  Black Butler: Book of the Atlantic (2017)  4.000000
9738   193583               No Game No Life: Zero (2017)  3.500000
9739   193585                               Flint (2017)  3.500000
9740   193587        Bungo Stray Dogs: Dead Apple (2018)  3.500000
9741   193609        Andrew Dice Clay: Dice Rules (1991)  4.000000

[9724 rows x 3 columns]

In [36]:
# 4. 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)

s1 = df_rating['rating'].groupby(df_rating['movieId']).mean()

high_rating = s1[s1 == s1.max()]

result = pd.merge(high_rating, df_movie, left_index=True, right_on='movieId', how='inner')

display(result.sort_values(by='title')[['movieId','title','rating']])

      movieId                             title  rating
5690    27751               'Salem's Lot (2004)     5.0
7332    77846               12 Angry Men (1997)     5.0
9046   141816                  12 Chairs (1976)     5.0
3893     5468  20 Million Miles to Earth (1957)     5.0
5639    27373                        61* (2001)     5.0
...       ...                               ...     ...
9711   187717  Won't You Be My Neighbor? (2018)     5.0
8355   108795               Wonder Woman (2009)     5.0
9289   158398             World of Glory (1991)     5.0
9560   173351       Wow! A Talking Fish! (1983)     5.0
7521    84273  Zeitgeist: Moving Forward (2011)     5.0

[296 rows x 3 columns]

In [74]:
# 5. Comedy영화 중 가장 평균 평점이 낮은 영화의 제목

comedy_movie_id = df_movie.loc[df_movie['genres'].str.contains('Comedy')]['movieId']

comedy_mask = df_rating['movieId'].isin(comedy_movie_id)

low_rating = df_rating.loc[comedy_mask].groupby('movieId').mean()['rating'].min()

low_rating_mask = df_rating.loc[comedy_mask].groupby('movieId').mean()['rating'] == low_rating

low_movie_id = df_rating.loc[comedy_mask].groupby('movieId').mean().loc[low_rating_mask].index

low_movie_id = list(low_movie_id)

display(df_movie.loc[df_movie['movieId'].isin(low_movie_id)].sort_values(by='title'))

,movieId,title,genres
8893,134528,Aloha (2015),Comedy|Drama|Romance
5777,31422,Are We There Yet? (2005),Children|Comedy
7762,91414,Arthur Christmas (2011),Animation|Children|Comedy|Drama
9419,165645,Bad Santa 2 (2016),Comedy
4439,6557,Born to Be Wild (1995),Adventure|Children|Comedy|Drama
5409,25782,Boudu Saved From Drowning (Boudu sauvé des eau...,Comedy
6554,54934,"Brothers Solomon, The (2007)",Comedy
5453,26095,"Carabineers, The (Carabiniers, Les) (1963)",Comedy|Drama|War
6545,54768,Daddy Day Camp (2007),Children|Comedy
4881,7312,"Follow Me, Boys! (1966)",Comedy|Drama
7553,85334,Hard Ticket to Hawaii (1987),Action|Comedy
8417,110773,"Haunted House 2, A (2014)",Comedy|Horror
5662,27595,Jesus Christ Vampire Hunter (2001),Action|Comedy|Horror|Musical
8984,138798,Joe Dirt 2: Beautiful Loser (2015),Comedy
7820,92681,Journey 2: The Mysterious Island (2012),Action|Adventure|Comedy|Sci-Fi|IMAX
6160,44243,Leprechaun 4: In Space (1997),Comedy|Fantasy|Horror|Sci-Fi
8248,104644,Maria Bamford: The Special Special Special! (2...,Comedy
7201,72696,Old Dogs (2009),Comedy
9056,141994,Saving Christmas (2014),Children|Comedy
5258,8632,Secret Society (2002),Comedy
9590,175475,The Emoji Movie (2017),Animation|Children|Comedy
8908,135216,The Star Wars Holiday Special (1978),Adventure|Children|Comedy|Sci-Fi
8676,122246,Tooth Fairy 2 (2012),Children|Comedy
5795,31692,Uncle Nino (2003),Comedy
6784,60363,Zombie Strippers! (2008),Comedy|Horror

In [98]:
# 6. 2015년도에 평가된 모든 Romance 영화의 2015년도 평균 평점은?

from datetime import datetime
import time

start = '2015-01-01 0:0:1'
start_timestamp = time.mktime(datetime.strptime(start,'%Y-%m-%d %H:%M:%S').timetuple())

end = '2015-12-31 23:59:59'
end_timestamp = time.mktime(datetime.strptime(end,'%Y-%m-%d %H:%M:%S').timetuple())

# print(start_timestamp)
# print(end_timestamp)

date_mask = ((df_rating['timestamp'].values >= start_timestamp) & (df_rating['timestamp'].values <= end_timestamp))

result1 = pd.merge(df_rating[date_mask],df_movie,
                   on='movieId', how='inner')

print(result1.loc[result1['genres'].str.contains('Romance')]['rating'].mean())
# result1.loc[result1['genres'].str.contains('Romance')]['rating']

3.396375098502758